<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      
      <ion-fab-button  href="studies" color="light">
        <ion-icon name="school"></ion-icon>
      </ion-fab-button >
      <ion-fab-button href="jobs"  color="light">
        <ion-icon name="construct"></ion-icon>
      </ion-fab-button>
      <ion-fab-button href="contacts" color="light">
        <ion-icon name="people"></ion-icon>
      </ion-fab-button>
      <ion-fab-button  href="hability" color="light">
        <ion-icon name="medal"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>     
    <div id="container">
      <ion-card>
        
        <ion-card-header>
          <ion-avatar>
            <img src="./assets/picture.jpg" />          
          </ion-avatar>
          <ion-card-title>J. Developer</ion-card-title>
          <ion-card-subtitle>Edmundo Gabriel Medina Intriago</ion-card-subtitle>           
        </ion-card-header>
        <ion-card-content>
          <ion-list>            
            <ion-item>
              <ion-icon slot="start" name="finger-print-outline"></ion-icon>
              <ion-label>1722354378</ion-label>
            </ion-item>

            <ion-item>
              <ion-icon slot="start" name="call-outline"></ion-icon>
              <ion-label>(+593)0987090952</ion-label>
            </ion-item>

            <ion-item>
              <ion-icon slot="start" name="mail-outline"></ion-icon>
              <ion-label>gabicho.edu@gmail.com</ion-label>
            </ion-item>

            <ion-item>
              <ion-icon slot="start" name="calendar-number-outline"></ion-icon>
              <ion-label>34 años</ion-label>
            </ion-item>            

            <ion-item>
              <ion-icon slot="start" name="location-outline"></ion-icon>
              <ion-label>
                <h2>Conjunto Cantai, Av. Carlos Mantilla y Buenos Aires</h2>
                <h3>Quito-Ecuador</h3></ion-label>
            </ion-item>
          </ion-list>        
        </ion-card-content>
      </ion-card>
      
    </div>
    
</ion-content>
