<ion-header>
  <ion-toolbar>
    <ion-title>study</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button  href="home" color="light">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button >
      <ion-fab-button  href="studies" color="light">
        <ion-icon name="school"></ion-icon>
      </ion-fab-button >
      <ion-fab-button href="jobs"  color="light">
        <ion-icon name="construct"></ion-icon>
      </ion-fab-button>
      <ion-fab-button href="contacts" color="light">
        <ion-icon name="people"></ion-icon>
      </ion-fab-button>
      <ion-fab-button  href="hability" color="light">
        <ion-icon name="medal"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>     
    <div id="container">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Análisis en Sistemas Informáticos</ion-card-subtitle>
          <ion-card-title>ESFOT</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h2>Estudios Superiores</h2>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Físico - Matematico</ion-card-subtitle>
          <ion-card-title>"Nacional el Carmen"</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h2>Bachillerato</h2>
        </ion-card-content>
      </ion-card>
      
    </div>

</ion-content>
